{% extends 'posts/base.html' %}
{% load static %}

{% block content %}

<section class="section-padding pt-4">
    <div class="container">
        <div class="row">
            {% for post in latest_posts %}
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="category-item">
                    <div class="category-img">
                        <a href="#"><img src="{{ post.image.url }}" alt="" class="img-fluid w-100"></a>
                    </div>
                    <div class="content">
                        <a href="#" class="text-color text-uppercase font-sm letter-spacing font-extra">{{ post.category|upper }}</a>
                        <h4><a href="#">{{ post.title|title }}</a></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section-padding pt-4">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="subscribe-home py-4 px-4 mb-5 bg-grey">
                    <div class="form-group row align-items-center mb-0">
                        <label for="colFormLabel" class="col-form-label col-sm-12 h4 col-lg-4">Subscribe for Newsletter</label>
                        <div class="col-sm-6 col-lg-3">
                            <input type="email" class="form-control mb-3 mb-lg-0" id="colFormLabel" placeholder="Full Name">
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <input type="email" class="form-control mb-3 mb-lg-0" id="colFormLabel2" placeholder="Email Address">
                        </div>
                        <div class="col-sm-2">
                            <a href="#" class="btn btn-dark">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                {% for post in posts %}
					<div class="mb-4 post-list border-bottom pb-4">
						<div class="row no-gutters">
							<div class="col-md-5">
								<a class="post-thumb " href="#">
									<img src="{{ post.image.url }}" alt="" class="img-fluid w-100">
								</a>
							</div>

							<div class="col-md-7">
								<div class="post-article mt-sm-3">
									<div class="meta-cat">
										<span class="letter-spacing cat-name font-extra text-uppercase font-sm">{{ post.category|upper }}</span>
									</div>
									<h3 class="post-title mt-2"><a href="#">{{ post.title|title }}</a></h3>

									<div class="post-meta">
										<ul class="list-inline">
											<li class="post-like list-inline-item">
												<span class="font-sm letter-spacing-1 text-uppercase"><i class="ti-time mr-2"></i>{{ post.time_read }} min
													read</span>
											</li>
										</ul>
									</div>
									<div class="post-content">
										<p>{{ post.excerpt }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
                {% endfor %}

					<div class="pagination mt-5 pt-4">
						<ul class="list-inline">
							<li class="list-inline-item"><a href="#" class="active">1</a></li>
							<li class="list-inline-item"><a href="#">2</a></li>
							<li class="list-inline-item"><a href="#">3</a></li>
							<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<div class="sidebar-wrap mt-5 mt-lg-0">
							<div class="sidebar-widget about mb-5 text-center p-3">
								<div class="about-author">
									<img src="{{ blog_author.photo.url }}" alt="" class="img-fluid">
								</div>
								<h4 class="mb-0 mt-4">{{ blog_author.name }}</h4>
								<p>Travel Blogger</p>
								<p>I'm Liam, last year I decided to quit my job and travel the world. You can follow my journey on this
									blog!</p>
								<img src="{% static 'images/liammason.png' %}" alt="" class="img-fluid">
							</div>

							<div class="sidebar-widget follow mb-5 text-center">
								<h4 class="text-center widget-title">Follow Me</h4>
								<div class="follow-socials">
									<a href="#"><i class="ti-facebook"></i></a>
									<a href="#"><i class="ti-twitter"></i></a>
									<a href="#"><i class="ti-instagram"></i></a>
									<a href="#"><i class="ti-youtube"></i></a>
									<a href="#"><i class="ti-pinterest"></i></a>
								</div>
							</div>

							<div class="sidebar-widget category mb-5">
								<h4 class="text-center widget-title">Catgeories</h4>
								<ul class="list-unstyled">
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Innovation</a>
										<span>14</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Software</a>
										<span>2</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Social</a>
										<span>10</span>
									</li>
									<li class="align-items-center d-flex justify-content-between">
										<a href="#">Trends</a>
										<span>5</span>
									</li>
								</ul>
							</div>

							<div class="sidebar-widget subscribe mb-5">
								<h4 class="text-center widget-title">Newsletter</h4>
								<input type="text" class="form-control" placeholder="Email Address">
								<a href="#" class="btn btn-primary d-block mt-3">Sign Up</a>
							</div>

							<div class="sidebar-widget sidebar-adv mb-5">
								<a href="#"><img src="images/sidebar-banner3.png" alt="" class="img-fluid w-100"></a>
							</div>

						</div>
					</div>
				</div>
			</div>
    </div>
</section>

{% endblock %}